{% extends 'user/base.html' %}
{% load staticfiles %}

{% block css_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/movie.css' %}">
{% endblock %}


{% block title_block %}
    Movies
{% endblock %}

{% block body_block %}
<div class="moive_content">
    <h1>Movies from A to Z:</h1> 
    <hr>
    <a class="link" href="{% url 'movie:addmovie' %}">Add movie to the RateMySciFi Database</a>
    <hr>

        {% if movies %}
            {% for movie in movies %}
            <div class="movie_container">
                <div class="thumbnail">
                        <img src="{{ MEDIA_URL }}{{ movie.poster }}" alt="Picture of poster" />
                </div>

                <div class="movie_info">
                    <p>
                        <a class="link" href="{% url 'movie:singlemovie' movie.slug %}">{{ movie.title }} </a>
                    <br />
                    <i>Year:</i> {{ movie.year }} <br />
                    <i>Director:</i> {{ movie.director }} <br />
                    <i>Rating:</i> {{ movie.rating }} <br />
                    <i>Synopsis:</i> {{ movie.description }} <br />
                    <br /> </p> 
                </div>
            </div>
            {% endfor %}
        {% else %}
            <strong>There are no movies in the database yet.</strong>
        {% endif %}
</div>

{% endblock %}


