#about_content{
    background-color: rgb(238, 238, 238); 
    color: #222831;

    margin: auto;
    width: 90%;
    min-height: 400px;

    padding: 20px;
/* text setting*/
    text-align:center;
    
}