/* header layout*/
#header {
    background-color:rgb(7, 146, 155);
    color:rgb(255, 255, 255);
    padding:5px;

    height: 150px;
    min-width: 1000px;

    /* border: 1px solid rgb(255, 255, 255); */
}

#header_1{
    float:left;
    height: 140;
    width: 200px;

    padding-left: 30px;

    /* border: 1px solid rgb(255, 255, 255); */
}

#header_2{
    float:right;
    height: 140px;
    width: 500px;

    /* border: 1px solid rgb(255, 255, 255); */

}

#authentication{
    float:right;
    padding:10px 30px;
    text-align:right;
    height: 50%;

}

#menu {
    line-height:30px;
    float:right;
    text-align:center;
    padding:5px 30px;	   
      
    height: 50%;
    width: 600px;
}

/* button part*/
.button {
    background-color: rgb(7, 146, 155); 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 0px -5px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
}
.button:hover {
    background-color: #222831;
    color: white;
}

#main_body {

    #border: 2px solid rgba(0, 0, 0, 0);
    #padding:30px 40px;
    #margin: auto;
}

#content{

    margin: auto;
    #width: 90%;
    /* keep layout do not change */
    #min-width: 900px;

    padding: 20px;

    /* border: 1px solid rgb(255, 255, 255); */
}

.button3:hover {
    background-color: #f44336;
    color: white;
}
.button4 {
    background-color: white; 
    color: black; 
    border: 2px solid #3643f4;
}
.button4:hover {
    background-color: #3643f4;
    color: white;
}
