.movie_poster{
    background-color: rgba(238, 238, 238, 0); 
    color: #ffffff;

    float:left;
    width: 25%;

    padding: 20px;
    
}

.movie_info{
    background-color: rgba(238, 238, 238, 0); 
    color: #ffffff;
    float:right;
    width: 65%;
    padding: 20px;
}

.add_movie_info{
    background-color: rgba(238, 238, 238, 0); 
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    width: 100%;
    padding: 20px;
}

.container{
    display: flex;
    width: 100%;
}

.background-blue{
    background: rgb(7, 146, 155); 
}

.link {
    color: rgb(0, 0, 0);
}

.header_left{
    background-color: rgb(7, 146, 155); 
    width: 15px;
    height: 15px;
    margin: 10px;
    float:left;
}
.header_middle{
    background-color: rgb(7, 146, 155); 
    height: 30px;
    font-size: 24px;
    text-align: center;
    float:center;
}
.header_right{
    background-color: rgb(7, 146, 155); 
    height: 15px;
    margin: 10px;
    float:right;
    font-weight: bold;
    border-radius: 25px;
    width: 400px;
    text-align: center;
}


