.movie_poster{
    background-color: rgba(238, 238, 238, 0); 
    color: #ffffff;

    float:left;
    width: 25%;

    text-align:center;
    padding: 20px;
    
}

.movie_poster img{width: 100%;}


#movie_info{
    background-color: rgba(238, 238, 238, 0); 
    color: #ffffff;

    float:right;
    width: 65%;

    padding: 20px;   
}

.add_movie_info{
    background-color: rgb(238, 238, 238); 
    color: #222831;
    font-weight: bold;

    margin: auto;
    text-align:center;
    align-items: center;

    width: 40%;

    padding: 20px;
}

.moive_content{
    background-color: rgb(238, 238, 238); 
    color: #222831;

    margin: auto;
    width: 90%;
    min-height: 400px;

    padding: 20px;
    
}
.moive_content h1{
    text-align:center;
}
.movie_container{
    display: flex;

    

    height: 200px;
    font-size: 20px;

    text-overflow: ellipsis;
    box-shadow:0 0 5px #222831;
    margin-top: 10px;
    margin-bottom: 10px;
}
.thumbnail{
    height: 100%;
    width: 25%;
    float:left;
    padding: 0px;
    margin-left: 50px;

    align-items: center;
}
.thumbnail img{
    height: 100%;
    width: 150px;
}


.link {
    color: rgb(7, 146, 155);
}

#header_left{
    background-color: rgb(7, 146, 155); 
    width: 15px;
    height: 15px;
    margin: 10px;
    float:left;
}
#header_middle{
    height: 20px;
    font-size: 24px;
    float:left;
}
#header_right{
    background-color: rgb(7, 146, 155); 
    min-width: 60%;
    height: 15px;
    margin: 10px;
    float:left;
}

.info_content{
    clear:both;
    min-width: 100%;
}
