{% extends 'user/base.html' %}
{% load staticfiles %}
{% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
{% endblock %}

{% block title_block %}
    About
{% endblock %}


{% block body_block %}

<div id="about_content">

    <h1>Welcome to Rate My Sci-Fi!</h1>
    <hr>

    <div>
        <i><b>About Rate My Sci-Fi </b></i> <br />
        Search the web for movie ratings and you will quickly find 
        several websites to choose from, with 1000s of reviews and 
        ratings for a plethora of movies.​ However, with so many options to choose from
        it can be difficult for fans of certain genres to interact. This is how
        Rate My Sci-Fi was born! This is a space where all Sci-Fi fans can add movies to the database,
        rate and review movies, add movies to your favourites list, and discuss
        with fellow Sci-Fi enthusiasts. Feel free to celebrate your favourites,
        diss your least-liked, or simply enjoy the company of others who share your love for Sci-Fi. <br />

    </div>
    <hr>

    <i><b>ITECH TEAM GROUP 18</b></i> <br>
    <h5>Hanze Li (2690422l)</h5>
    <h5>Yiqi Li (2640204l)</h5>
    <h5>Valborg Johannesen (2328244J)</h5>
    <h5>Dougie Price (2250864P)</h5>
    <h5>Pai Huang (2554563H)</h5>

    <hr>
    
    <a href="https://github.com/NANARua/RateMyScFi.git">
        <h3><b>The GitHub Link</b></h3>
    </a>
          
</div>
    
{% endblock %}