{% extends 'user/base.html' %}
{% load staticfiles %}
{% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
{% endblock %}

{% block title_block %}
    About
{% endblock %}


{% block body_block %}

<div id="about_content">

    <h1>Welcome to Rate My SciFi!</h1>


    <div>
        <i><b>About Rate My SciFi </b></i> <br />
        Search the web for movie ratings and you will quickly find 
        several websites to choose from, with 1000s of reviews and 
        ratings for a plethora of movies.​ However, with so many options to choose from
        it can be difficult for fans of certain genres to interact. This is how
        Rate My SciFi was born! This is a space where all SciFi fans can add movies to the database,
        rate and review movies, add movies to your favourites list, and discuss
        with fellow SciFi enthusiasts. Feel free to celebrate your favourites,
        diss your least-liked, or simply enjoy the company of others who share your love for SciFi. <br />



    </div>

    <div style="width:200px; height:200px;">
        <img src="{% static 'images/test.jpg' %}" alt="Picture of test" style="width:100%;"/><br />
    </div>       
</div>
    
{% endblock %}