<!DOCTYPE html>

{% load staticfiles %}

<html>
    <head>
        <title>
            Project -
            {% block title_block %}
                How to Tango with Django!
            {% endblock %}
        </title>

        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        
        {% block css_block %}
        {% endblock %}
    </head>
    
    <body style="background-color:#222831">

        <div id="header">
            <div id="header_1">
                <h1>Rate</h1>
                <h1>My Sci-Fi</h1>
            </div>

            <div id="header_2">
                <div id="authentication">
                    login/sign up
                    
                </div>

                <div id="menu">                 
                    <button class="button" type="button" onclick="location.href= '{% url 'homepage' %}'">HOME</button>
                    <button class="button" type="button" onclick="location.href= '{% url 'forum:forum' %}'">FORUM</button>
                    <button class="button" type="button" onclick="location.href= '{% url 'about' %}'">ABOUT</button>
                    <button class="button" type="button" onclick="location.href= '{% url 'movie:allmovies' %}'">MOVIES</button>
                </div>
            </div>
        </div>

        <div id ="main_body">
            <div id="content">
                {% block body_block %}
                {% endblock %}
            </div>
        </div>
        
    </body>
</html>
