<!DOCTYPE html>

{% load staticfiles %}

<html>
    <head>
        <title>
            RateMyScFi -
            {% block title_block %}
                Hello, world!
            {% endblock %}
        </title>

        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        
        {% block css_block %}
        {% endblock %}
    </head>
    
    <body>

        <div id="header">
            <div id="header_1">
                <h1>Rate</h1>
                <h1>My Sci-Fi</h1>
            </div>

            <div id="header_2">
                <div class="authentication">
                    <ul>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'user:profile' %}" >Profile</a></li>
                        <li><a href="{% url 'user:logout' %}" >Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'user:register' %}">SignUp</a></li>
                        <li><a href="{% url 'user:login' %}" >Login</a></li>
                    {% endif %}

                    </ul>
                </div>

                <div id="menu">                 
                    <button class="button" type="button" onclick="location.href= '{% url 'homepage' %}'">HOME</button>
                    <button class="button" type="button" onclick="location.href= '{% url 'movie:allmovies' %}'">MOVIES</button>
                    <button class="button" type="button" onclick="location.href= '{% url 'forum:forum' %}'">FORUM</button>
                    <button class="button" type="button" onclick="location.href= '{% url 'about' %}'">ABOUT</button>
                    
                </div>
            </div>
        </div>

        <div id ="main_body">
            <div id="content">
                {% block body_block %}
                {% endblock %}
            </div>
        </div>

    </body>
</html>
