{% extends 'user/base.html' %}
{% load staticfiles %}

{% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_sign.css' %}">
{% endblock %}

{% block title_block %}
    Login
{% endblock %}


{% block body_block %}

<div class="login_sign_content">
    <h1>Login to Rate My Sci-Fi</h1>
    <hr>
    <form id="login_form" method="post" action="{% url 'user:login' %}">
        {% csrf_token %}
        <label for="username">Username: </label><input type="text" name="username" value="" size="50" id="username"/>
        <br />
        <br>
        <label for="password">Password: </label><input type="password" name="password" value="" size="50" id="password"/>
        <br />
        <br>
            <input type="submit" value="submit"/>
        <br />
    </form>
</div>

{% endblock %}
