{% extends 'user/base.html' %}
{% load staticfiles %}

{% block css_block %}
<!--bootstrap-->
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="{% static 'css/login_sign.css' %}">
{% endblock %}

{% block title_block %}
    Register
{% endblock %}


{% block body_block %}


<div class="login_sign_content">
    <h1>Register for Rate My Sci-Fi</h1>
    <hr>
    {% if registered %}
        <p>Rate My Sci-Fi says: <strong>thank you for registering!</strong></p>
        <a href="{% url 'homepage' %}">Return to the homepage.</a><br />
    {% else %}
        <p>Rate My Sci-Fi says: <strong>register here!</strong><br /></p>
        <div>
            <form id="user_form" method="post" action="{% url 'user:register' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ user_form.as_p }}
                {{ profile_form.as_p }}

                <br>
                    <input type="submit" name="submit" value="Register" style="width: 100px"/>
                <br>
            </form>

            <br>
            <button type="button" class="btn btn-warning" title="Tip for register!"  
                    data-container="body" data-toggle="popover" data-placement="bottom" 
                    data-content="Letters, digits and @/./+/-/_ only. (Press again to close)">
                helper function
            </button>
        </div>
    {% endif %}
</div>
<script type="text/javascript" src="{% static 'js/helper function.js' %}"></script>
{% endblock %}