{% extends 'user/base.html' %}
{% load staticfiles %}

{% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_sign.css' %}">
{% endblock %}

{% block title_block %}
    Register
{% endblock %}


{% block body_block %}


<div class="login_sign_content">
    <h1>Register for Rate My Sci-Fi</h1>
    <hr>
    {% if registered %}
        <p>Rate My Sci-Fi says: <strong>thank you for registering!</strong></p>
        <a href="{% url 'homepage' %}">Return to the homepage.</a><br />
    {% else %}
        <p>Rate My Sci-Fi says: <strong>register here!</strong><br /></p>
        <div>
            <form id="user_form" method="post" action="{% url 'user:register' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ user_form.as_p }}
                {{ profile_form.as_p }}

                <br>
                    <input type="submit" name="submit" value="Register" style="width: 100px"/>
                <br>
            </form>
        </div>
    {% endif %}
</div>
{% endblock %}