{% extends 'user/base.html' %}
{% load staticfiles %}

{% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/user_page.css' %}">
{% endblock %}

{% block title_block %}
    Profile
{% endblock %}


{% block body_block %}

<div class="user_photo">
    
    <img src="{{ request.user.userprofile.picture.url }}" alt="Picture of profile"/>
    <br />

    <h3>User Name: {{ request.user.username }}</h3>
    
</div>
<div id="user_content">
    <div id="user_header">
        <div id="header_left"></div>
        <div id="header_middle">Rating History</div>
        <div id="header_right"></div>
    </div>

    <div class="info_content">
        information details 
        
    </div>


</div>


{% endblock %}
