{% extends 'user/base.html' %}
{% load staticfiles %}

{% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/user_page.css' %}">
{% endblock %}

{% block title_block %}
    Movie
{% endblock %}


{% block body_block %}

<div id="user_photo">
                    
    <div style="display: flex;justify-content: center">
        <img src="{{ request.user.userprofile.picture.url }}" alt="Picture of test" style="height: 200px"/>

    </div><br />
    <p style="text-align: center">{{ request.user.username }}</p>
    
</div>
<div id="user_content">
    <div id="user_header">
        <div id="header_left"></div>
        <div id="header_middle">Rating History</div>
        <div id="header_right"></div>
    </div>

    <div style="clear:both">
        information details 
        
    </div>
    <div style="height: 300px">

    </div>
    <div>
        <p style="text-align: center"><a href="{% url 'user:logout' %}" style="color: white;">Logout</a></p>
    </div>
</div>


{% endblock %}
