{% extends 'user/base.html' %}
{% load staticfiles %}


{% block title_block %}
    Forum
{% endblock %}


{% block body_block %}
    <ul>
    {% if user.is_authenticated %}
        <h1>Add New Post</h1>
    <div>
        <form id="post_form" method="post" action="{% url 'forum:add_post' %}">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.errors }} <br />
                {{ field.help_text }} <br />
                {{ field }} <br />
            {% endfor %} <br />
        <input type="submit" name="submit" value="Create New Post">
        </form>
    </div>
    {% else %}
        Please log in before create post.
    {% endif %}
    </ul>

{% endblock %}
