{% extends 'user/base.html' %}
{% load staticfiles %}

{% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/forum.css' %}">
{% endblock %}

{% block title_block %}
    Forum
{% endblock %}


{% block body_block %}
<!-- load posts -->
    <div class="forum_content">
        <h1>Discussion Forum</h1>
        <hr>
        {% if user.is_authenticated %}
            <a href="{% url "forum:add_post" %}">Add New Post</a>
        {% else %}
        <a href="{% url "user:login" %}">Log-in</a> or 
        <a href="{% url "user:register" %}">register</a> to add a post or reply!
        {% endif %}
        <hr>
        <div>
            {% if posts %}
                {% for post in posts %}
                <!-- POST TITLE -->
                    <a href="/forum/{{ post.id }}">
                        <div class="post_topic">
                            {{ post.title }}
                        </div>
                    </a>
                {% endfor %}
            {% else %}
            <strong>There are no post present.</strong> {% endif %}
        </div>

    </div>
{% endblock %}
