{% extends 'user/base.html' %}
{% load staticfiles %}


{% block title_block %}
    Forum
{% endblock %}


{% block body_block %}
    <h1>Discussion Forum</h1>

    <div>
        <div>
            {% if posts %}
                <ul>
                {% for post in posts %}
                    <li>
                        <a href="/forum/{{ post.id }}">{{ post.title }}</a>
                    </li>
                {% endfor %}
            </ul>

            {% else %}
            <strong>There are no post present.</strong> {% endif %}
        </div>
    </div>
{% endblock %}
