{% extends 'user/base.html' %}
{% load staticfiles %}

{% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/forum.css' %}">
{% endblock %}

{% block title_block %}
    Forum
{% endblock %}

{% block body_block %}

<!-- load posts -->
    <div class="forum_content">
        <h1>Discussion Forum</h1>
        <hr>

        <div>
            {% if post %}
            <div class="post_content">
                <h3>{{ post.title }}</h3>
                
                ><i>{{ post.date }}</i><br>
                ><i>{{ post.author }}</i><br>
                {{ post.content }}
            </div>
            <hr>
            <!-- load posts' reply -->
                {% for reply in replies %}
                <div class="post_reply">
                    ><i>{{ reply.date }}</i><br>
                    ><i>{{ reply.author }}</i><br>
                    {{ reply.content }}
                </div>
                {% endfor %}

            {% else %}
            <strong>The specified post does not exist.</strong>
            {% endif %}
        </div>

        <hr>

        {% if user.is_authenticated %}
            <div>
                <a href="{% url 'forum:add_reply' post.id %}">Reply</a><br>
                <a href="{% url "forum:add_post" %}">Add New Post</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
